RewriteEngine On
RewriteBase /

# If a directory or a file exists, use the request directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteCond %{REQUEST_URI} !(.*)/$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [L,R=301]

# Otherwise forward the request to index.php
RewriteCond %{REQUEST_URI} !(\..*)$
RewriteRule . index.php
